.bodyWrapper {
	width: 80%;
  height: 100%;
  background: #fff;
  margin-left: 20%;
  position: absolute;
  top: 0;
  left: 0;
	padding: 10px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	box-sizing: border-box;
}
.wholeBodyWrapper {
	padding: 10px;
	height: 100%;
}
.sideBarWrapper {
	width: 20%;
	height: 100%;
	border-top: 1px solid black;
}
.sideBarWrapper > ul.side-menu {
	margin: 0;
	padding: 10px 0;
}

.side-menu .treeview.active {
	background-color: #2196F3;
}

.side-menu .treeview.active > a {
	color: white;
	font-weight: 500;
}
.side-menu .treeview {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 25px;
}

.side-menu .menu-open{
	display:  block;
}

.side-menu > li.treeview {
    margin: 0 1px;
}

.side-menu > li.treeview {
	padding:5px;
}

.side-menu > li.treeview>a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
	text-decoration: none;
	color: #000000;
}

.side-menu > li.treeview>a>.fa,
.side-menu > li.treeview>a>.glyphicon,
.side-menu > li.treeview>a>.ion {
    width: 20px;
}

.contentContainer {
	height:calc(100% - 60px);
	position: relative;
}

.bodyContent {
	padding-top: 10px;
	width: 100%;
}

.button {
	height: 35px;
outline: none;
font-weight: 500;
font-size: 15px;
border: none;
border-radius: 2px;
cursor: pointer;
margin: 0 5px;;
}
.green {
	background: green;
	color:white;
}
.red {
	background: red;
	color:white;
}
.actionButtonRow{
	display: flex;
}
.actionButtonRow .dummy{
	flex:1;
	padding-right: 50px;
}
.actionButtonRow .submitButton{
	flex:2;
	text-align: left;
}
.modalWrapper {
	position: fixed;
  padding-top: 10vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
	background-color: rgba(0,0,0,.8);
	z-index: 1;
}
