.headerWrapper{
	padding: 10px;
	height: 40px;
	background: #2196f3;
	width: calc(100% - 20px);
	position: relative;
}
.Logo{
	letter-spacing: 2px;
    /* text-align: center; */
  width: 100%;
  position: absolute;
  line-height: 20px;
  height: 20px;
  padding: 10px;
  font-size: 24px;
  color: white;
  font-weight: 500;
}
.userDetail{
	float: right;
  line-height: 20px;
  height: 20px;
  padding: 10px;
  font-size: 18px;
  color: white;
  font-weight: 500;
}
.searchForm{
	margin-left:20%;
	position: absolute;
	padding:10px !important;
	display: none;
}
