.modalContainer {
  background: #fff;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 0;
  width: 50%;
  border-radius: 5px;
}
.modalContent {
    padding: 25px;
    background: #fff;
    overflow-y: auto;
}

.modalHeader {
    padding: 20px;
    background-color: #2196f3;
    color: #fff;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}

.modalFooter {
  padding: 10px;
  text-align: center;
  padding-bottom: 60px;
}

.buttonContainer {
  padding: 0 10px;
  float: left;
  width: calc(100% - 20px);
}

.buttonContainer .backButton {
  float: left;
  width: 48%;
  padding: 10px 20px;
  border: 1px solid #ff8500;
  background: transparent;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}

.buttonContainer .proceedButton {
  width: 48%;
  padding: 10px 20px;
  float: right;
  color: #fff;
  background-color: #ff8500;
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
